﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <link href="./css/CoffeShop.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <nav>
        <b><a href="/">Home</a> &nbsp; <a href="/Menu">Menu</a> &nbsp;<a href="/Reserve">Book</a> &nbsp;<a href="/About">About us</a></b>
    </nav>
    <div class="div-au1">
        <h4>Your Peace of Mind Is Our Top Priority</h4>

    </div>
    <figure>
        <img src="~/images/coffee6.jpeg" width="600" height="400" alt="Is this name?">
    </figure>
</body>
<footer><p><a href="mailto:tangshanhanxu@gmail.com">tangshanhanxu@gmail.com</a></p></footer>
</html>
