﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf8">

    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
    @*
        <link href="./css/CoffeShop.css" rel="stylesheet">*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link href="~/css/Coffeshop.css" rel="stylesheet">
    <script type="text/javascript" language="javascript">
        jQuery(document).ready(function () {
            var getRoomList = 'http://localhost:42616/api/hotel/getall';
            jQuery.ajax({
                type: "GET",
                url: getRoomList,
                success: function (data) {
                    if (data == null) {
                        alert("we are closed");
                        return;
                    }

                    for (var i = 0; i < data.length; i++) {
                        var row = document.createElement("tr");
                        var rntd = document.createElement("td");
                        var avtd = document.createElement("td");
                        var destd = document.createElement("td");
                        var rn = document.createTextNode(data[i].roomNumber);
                        var av = document.createTextNode(data[i].capacity);
                        var des = document.createTextNode(data[i].roomtype);
                        rntd.appendChild(rn);
                        avtd.appendChild(av);
                        destd.appendChild(des);
                        //booktd.appendChild(book);
                        row.appendChild(rntd);
                        row.appendChild(avtd);
                        row.appendChild(destd);
                        document.getElementById("tblbody").appendChild(row);
                    }




                }
            });
        });
    </script>
    <style>
        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        table {
            background: #2b2a2a;
            border-collapse: separate;
            box-shadow: inset 0 1px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 0 auto;
            text-align: left;
            width: 800px;
        }

        th {
            background: linear-gradient(#379294, #257d8c);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            box-shadow: inset 0 1px 0 #999;
            color: #fff;
            font-weight: bold;
            padding: 10px 15px;
            position: relative;
            text-shadow: 0 1px 0 #000;
        }

            th:after {
                background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
                content: '';
                display: block;
                height: 25%;
                left: 0;
                margin: 1px 0 0 0;
                position: absolute;
                top: 25%;
                width: 100%;
            }

            th:first-child {
                border-left: 1px solid #777;
                box-shadow: inset 1px 1px 0 #999;
            }

            th:last-child {
                box-shadow: inset -1px 1px 0 #999;
            }

        td {
            border-right: 1px solid #fff;
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 15px;
            position: relative;
            transition: all 300ms;
            color: #a16357;
        }

            td:first-child {
                box-shadow: inset 1px 0 0 #fff;
            }

            td:last-child {
                border-right: 1px solid #e8e8e8;
                box-shadow: inset -1px 0 0 #fff;
            }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

        tbody:hover td {
            color: transparent;
            text-shadow: 0 0 3px #aaa;
        }

        tbody:hover tr:hover td {
            color: #444;
            text-shadow: 0 1px 0 #fff;
        }
    </style>
    <header>
        <title>Welcome</title>
        <h1>Welcome HansHotel</h1>
    </header>
</head>

<body>

    <div id="wrapper">
        <nav><b><a href="#">Home</a> &nbsp; <a href="/Menu">Menu</a> &nbsp;<a href="/Reserve">Book</a> &nbsp;<a href="/About">About us</a></b></nav>
    </div>
    <table>
        <thead id="th">
            <tr>
                <th>RoomNumber</th>
                <th>Beds</th>
                <th>Room Type</th>
            </tr>
        </thead>
        <tbody id="tblbody"></tbody>
    </table>
</body>
</html >