﻿﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>

    <title>Catalog</title>

    <meta charset="utf8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/Coffeshop.css" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Check room available</h1>

    </header>
    <nav>
        <b><a href="/">Home</a> &nbsp; <a href="/Menu">Menu</a> &nbsp;<a href="/Reserve">Book</a> &nbsp;<a href="/About">About us</a></b>

    </nav>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/room1.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/room2.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/room3.jpeg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/room4.jpeg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="table">
        <table class="table-hover table-info table-sm table-bordered" border="1">
            <thead>
                <tr>

                    <td>Room</td>

                    <td>Price</td>

                </tr>
            </thead>

            <tbody>
                <tr>

                    <td>Standard</td>

                    <td>100.00</td>

                </tr>

                <tr>

                    <td>Luxury</td>

                    <td>200.00</td>

                </tr>

                <tr>

                    <td>Family</td>

                    <td>400.00</td>

                </tr>

                <tr>

                    <td>Deluxe Family</td>

                    <td>750.00</td>

                </tr>
            </tbody>

        </table>

    </div>
</body>

<footer style="margin-bottom: 1%; position: fixed;"><p><a href="mailto:tangshanhanxu@gmail.com">tangshanhanxu@gmail.com</a></p></footer>

</html>