﻿﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf8">

    <link href=" https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <link href="./css/CoffeShop.css" rel="stylesheet">

    <title>Book Right Now!</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
     @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" language="javascript">
        var mvIn, mvOut;
        jQuery(document).ready(function () {

            var tblbody = document.getElementById("tblbody");
            //<tr>
            //    <td id="roomNum"><strong>afterHide</strong></td>
            //    <td id="available">$.noop</td>
            //    <td id="description">The callback fired after the hide/concealaaaaaaaaaaaaaaaa</td>
            //    <td id="reserve"></td>
            //</tr>
            var serviceUrl = 'http://localhost:42616/api/hotel/getall';
            jQuery("#ttt").on('click', function () {
                var method = jQuery('#method').val();

                jQuery.ajax({
                    type: method,
                    data: "abc",
                    dataType: 'text',
                    url: serviceUrl
                }).done(function (response) {
                    jQuery('#value1').text(response);
                });
            });

            jQuery("#btngo").on('click', function () {
                var searchUrl = 'http://localhost:42616/api/hotel/search';
                jQuery("#tblbody > tr").remove();
                mvIn = jQuery("#movein").val();
                mvOut = jQuery("#moveout").val();
                var bednum = parseInt(jQuery("#bednums").val());
                var arr = mvIn.match(/\d+/g);
                var arr2 = mvOut.match(/\d+/g);

                if (arr[2] > arr2[2])
                {
                    alert("invalid input!");
                    return;
                }
                jQuery.ajax({
                    type: "POST",
                    url: searchUrl,
                    data: JSON.stringify({
                        moveInDate: mvIn,
                        moveOutDate: mvOut,
                        beds: bednum
                    }),
                    dataType: "json",
                    success: function (data) {
                        if (data == null)
                        {
                            alert("no rooms for this period");
                            return;
                        }

                    for (var i = 0; i < data.length; i++) {
                        var row = document.createElement("tr");
                        var rntd = document.createElement("td");
                        var avtd = document.createElement("td");
                        var destd = document.createElement("td");
                        var booktd = document.createElement("td");
                        var rn = document.createTextNode(data[i].roomNumber);
                        var av = document.createTextNode(data[i].capacity);
                        var des = document.createTextNode(data[i].roomtype);
                        jQuery(booktd).append("<input type='submit' value='book' class='btn-info' onclick = reserveRoom(this.id) id='" + rn.nodeValue + "'>");
                        rntd.appendChild(rn);
                        avtd.appendChild(av);
                        destd.appendChild(des);
                        //booktd.appendChild(book);
                        row.appendChild(rntd);
                        row.appendChild(avtd);
                        row.appendChild(destd);
                        row.appendChild(booktd);
                        document.getElementById("tblbody").appendChild(row);
                    }




                    }
                });


            });
                });

                function reserveRoom(roomId) {
                    jQuery.ajax({
                        type: "POST",
                        url: 'http://localhost:42616/api/hotel/reserve',
                        crossDomain: true,
                        data: JSON.stringify({
                            roomNumber : roomId,
                            moveInDate : mvIn,
                            moveOutDate : mvOut
                        }),
                        dataType: "json",
                        success: function (data) {
                            if (data)
                            {
                                jQuery('#' + roomId).parent().parent().remove();
                                alert("Booked Successfully!");
                            }
                        }
                    });

                }
    </script>
    <style>
        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        table {
            background: #f5f5f5;
            border-collapse: separate;
            box-shadow: inset 0 1px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 30px auto;
            text-align: left;
            width: 800px;
        }

        th {
            background: linear-gradient(#379294, #257d8c);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            box-shadow: inset 0 1px 0 #999;
            color: #fff;
            font-weight: bold;
            padding: 10px 15px;
            position: relative;
            text-shadow: 0 1px 0 #000;
        }

            th:after {
                background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
                content: '';
                display: block;
                height: 25%;
                left: 0;
                margin: 1px 0 0 0;
                position: absolute;
                top: 25%;
                width: 100%;
            }

            th:first-child {
                border-left: 1px solid #777;
                box-shadow: inset 1px 1px 0 #999;
            }

            th:last-child {
                box-shadow: inset -1px 1px 0 #999;
            }

        td {
            border-right: 1px solid #fff;
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 15px;
            position: relative;
            transition: all 300ms;
        }

            td:first-child {
                box-shadow: inset 1px 0 0 #fff;
            }

            td:last-child {
                border-right: 1px solid #e8e8e8;
                box-shadow: inset -1px 0 0 #fff;
            }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

        tbody:hover td {
            color: transparent;
            text-shadow: 0 0 3px #aaa;
        }

        tbody:hover tr:hover td {
            color: #444;
            text-shadow: 0 1px 0 #fff;
        }
    </style>
</head>

<body>
    <header>
        <h1>Make a reservation right now!</h1>

    </header>
    <nav>
        <b><a href="/">Home</a> &nbsp; <a href="/Menu">Menu</a> &nbsp;<a href="#">Book</a> &nbsp;<a href="/About">About us</a></b>

    </nav>
    <div class="col-sm-6" style="float: left;">
        <div class="divjob1">
            <h2 style="text-align : left">Choose your room and time below</h2>
        </div>
        <div>
                <div class="divjob2" style="">
                    <h2>Move In Date:</h2>
                    <input type="text" id="movein" placeholder="DD/MM/YYYY" />

                </div>
                <div class="divjob3" style="">
                    <h2>Move Out Date</h2>
                    <input type="text" id="moveout" placeholder="DD/MM/YYYY" />
                </div>
                <div class="divjob4" style="">
                    <h2>How Many Beds</h2>
                    <input type="text" id="bednums" placeholder="Beds You Need" />
                </div>
                <button value="search" id="btngo" class="btn-info" style="border:double; position:relative;">Search</button>
            </div>
        </div>
    <div style="float:right; margin-top:-7cm; margin-right: 5cm;">
        <table>
            <thead id="th">
                <tr>
                    <th>RoomNumber</th>
                    <th>Beds</th>
                    <th>Room Type</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody id="tblbody"></tbody>
        </table>
    </div>

    @*<div>
        <select id="method">

            <option value="get">GET</option>

            <option value="post">POST</option>

            <option value="put">PUT</option>

        </select>
        <input type="button" value="Try it" id="ttt" />
        <span id='value1'>(Result)</span>

    </div>*@
    <footer>
        <p><a href="mailto:tangshanhanxu@gmail.com">tangshanhanxu@gmail.com</a></p>

    </footer>
</body>
</html>
