header{
	background-color: rgb(0, 247, 255);
	color: black;
	/* #background-image: url(.jpg); */
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	height: 60px;
	padding-top: 15px;
	opacity: 0.5;
}

#wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 255, 255);
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #06726d;
}

footer{
	   position:absolute;
	   bottom: 0;
	   width:100%;
	   height:10px;   /* Height of the footer */
}
a:link,
a:visited {
color:#2b2a2a;
text-decoration: none;
}
a:hover,
a:active {
color:#f10000;
text-decoration:none;
}
table{
	width: 100%;
}
td{
	height: 55px;
	color: #000000;
	text-shadow: 1px 1px #000000;
	font-weight: bold;
	vertical-align: top;

}

body{
	background-image: url(/images/Bg1.jpeg);
	opacity: 1;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* figure{
	top: 100px;
	left: 200px;
} */

nav{
	opacity: 0.8;
	position: relative;
	/* display: inline-block; */
	background-color: #02767e;
    font-weight: bold;
	text-align: center;
	padding: 10px;
	font-family: 'Supermercado One', cursive;
}
ul{
	display: inline-block;
	position: relative;
}
li{
	visibility: hidden;
}
li:hover ul{
	visibility: visible;
}

h4{
	color: #949393;
	font-family: 'Supermercado One', cursive;
}

.div-1{
	position: fixed;
	left: 200px;
	top: 450px;
	width: 100px;
}
.div-2{
	border: 1px solid;
	position: absolute;
	opacity: 0.7;
	left: 80px;
	top: 150px;
	width: 900px;
	height: 385px;
	margin: 20px auto;
	background-size: cover;
	background-position: center;
	/* -webkit-animation-name: 'loop';
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite; */
	background: url(/img/coffee2.gif);
}

.div-home1{
	position: absolute;
	opacity: 0.7;
	left: 40px;
	top: 110px;
	width: 900px;
	height: 385px;
	background-size: cover;
	background-position: center;
}

.div-au1{
	background-color: #57687F;
	left: 700px;
	top: 200px;
	width: 300px;
	height: 200px;
	opacity: 0.7;
	position: absolute;
	background-position: center;
	background-size: cover;
}
.div-hm1{
	/* background-color: #995F34; */
	background-image: url(/images/coffee3.jpg);
	left: 10%;
	top: 200px;
	width: 400px;
	height: 350px;
	position: absolute;
	background-position: center;
	background-size: cover;
}
.div-hm2 {
    /* background-color: #995F34 */
    background-image: url(/images/coffee7.jpEg);
    left: 62%;
    top: 200px;
    width: 400px;
    height: 350px;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.div-menu1 {
    /* background-color: #995F34 */
    background-image: url(/images/coffee7.jpeg);
    font-family: 'Supermercado',cursive;
    left: 50px;
    top: 200px;
    width: 400px;
    height: 350px;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.div-job1{
	background-color: #000000;
	color: #FFFFFF;
	left: 18%;
	top: 125px;
	width: 1000px;
	height: 100px;
	opacity: 0.7;
	position: absolute;
	font-family: 'Roboto Slab', serif;
	background-position: center;
	background-size: cover;
}
.div-job2 {
    background-color: #794E13;
    left: 140PX;
    top: 230px;
    width: 300px;
    height: 100px;
    opacity: 0.8;
    position: absolute;
}
.div-job3 {
    background-color: #794E13;
    left: 500PX;
    top: 230px;
    width: 300px;
    height: 100px;
    opacity: 0.8;
    position: absolute;
}
.div-job4 {
    background-color: #794E13;
    left: 840PX;
    top: 230px;
    width: 300px;
    height: 100px;
    opacity: 0.8;
    position: absolute;
}

/* @-webkit-keyframes "loop"{
            0% {background: url(http://img5.duitang.com/uploads/blog/201408/12/20140812150016_8NMUU.jpeg) no-repeat;}
            25% {background: url(http://pic29.nipic.com/20130518/9908282_142904524164_2.jpg) no-repeat;}
            50% {background: url(http://uploadfile.huiyi8.com/2014/0605/20140605114503719.jpg) no-repeat;}
            75% {background: url(http://img3.redocn.com/20100322/Redocn_2010032112222793.jpg) no-repeat;}
            100% {background: url(http://uploadfile.huiyi8.com/2014/0605/20140605114447934.jpg) no-repeat;}
        }
