header{
	background-color: rgb(0, 247, 255);
	color: black;
	/* #background-image: url(.jpg); */
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	height: 60px;
	padding-top: 15px;
	opacity: 0.5;
}
h4{
	color: #949393;
	font-family: 'Supermercado One', cursive;
}
body {
    background-image: url(../images/Bg1.jpeg);
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
	   position:absolute;
		 padding: 1rem;
		 text-align: center;
	   bottom: 0;
	   width:100%;
	   height:10px;   /* Height of the footer */
}
/* table{
	width: 100%;
}
td{
	height: 55px;
	color: #000000;
	text-shadow: 1px 1px #000000;
	font-weight: bold;
	vertical-align: top;

} */
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	top: 800px;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	opacity: 0.5;
}

/* wrpper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #333333;
} */

a:link,
a:visited {
color:#949393;
text-decoration: none;
}

a:hover,
a:active {
color:#000000;
text-decoration:none;
}
table{
	width: 100%;
}
td{
	height: 55px;
	color: #000000;
	text-shadow: 1px 1px #000000;
	font-weight: bold;
	vertical-align: top;

}

nav{
	opacity: 0.8;
	position: relative;
	/* display: inline-block; */
	background-color: #826554;
  font-weight: bold;
	text-align: center;
	padding: 10px;
	font-family: 'Supermercado One', cursive;
	height: 40px;
	list-style-type: none;
}



/***********Border*************/
.div-1{
	position: fixed;
	left: 200px;
	top: 450px;
	width: 100px;
}
.div-2 {
    border: 1px solid;
    position: absolute;
    opacity: 0.7;
    left: 80px;
    top: 150px;
    width: 900px;
    height: 385px;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
    /* -webkit-animation-name: 'loop';
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite; */
    background: url(../images/coffee2.gif);
}

.div-home1{
	position: absolute;
	opacity: 0.7;
	left: 40px;
	top: 110px;
	width: 900px;
	height: 385px;
	background-size: cover;
	background-position: center;
}

.div-au1{
	background-color: #57687F;
	left: 700px;
	top: 200px;
	width: 300px;
	height: 200px;
	opacity: 0.7;
	position: absolute;
	background-position: center;
	background-size: cover;
}
.div-hm1 {
    /* background-color: #995F34; */
    background-image: url(../images/coffee3.jpg);
    left: 100px;
    top: 200px;
    width: 400px;
    height: 350px;
    opacity: 0.7;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.div-hm2 {
    /* background-color: #995F34 */
    background-image: url(../images/bgtbl.jpeg);
    left: 600px;
    top: 200px;
    width: 400px;
    height: 350px;
    opacity: 0.7;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.div-menu1 {
    /* background-color: #995F34 */
    background-image: url(../images/bgtbl.jpeg);
    font-family: 'Supermercado',cursive;
    left: 50px;
    top: 230px;
    width: 400px;
    height: 350px;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.div-job1{
	background-color: #000000;
	color: #FFFFFF;
	left: 140px;
	top: 120px;
	width: 1000px;
	height: 100px;
	opacity: 0.7;
	position: absolute;
	font-family: 'Roboto Slab', serif;
	background-position: center;
	background-size: cover;
}
.div-job2{
	background-color: #794E13;
	left: 140PX;
	top: 230px;
	width: 300px;
	height: 350px;
	opacity: 0.8;
	position: absolute;
}
.div-job3{
	background-color: #794E13;
	left: 500PX;
	top: 230px;
	width: 300px;
	height: 350px;
	opacity: 0.8;
	position: absolute;
}
.div-job4{
	background-color: #794E13;
	left: 840PX;
	top: 230px;
	width: 300px;
	height: 350px;
	opacity: 0.8;
	position: absolute;
}
.arrow{
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 92px;
  width: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid gray;
}
.menu{
  margin: auto;
	opacity: 0.9;
  width: 97%;
	position:absolute;
	/* left: 280px; */
  background-color: #02767e;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-family: 'Supermercado',cursive;
}
.menu ul{
  display: block;
  padding: 0;
  list-style: none;
	top: 0px;
	text-align: center;
	/* left: 250px; */
}
.menu ul li{
  position: relative;
  float: left;
  text-align: center;

	top: 0px;
}
.menu ul li a{
  display: block;
  padding: 0 10px 0 10px;
  width: 110px;
	text-align: center;
  border-left: 1px solid white;
}
.menu ul li:first-child a{
  border: none;
}
.menu .second-menu ul{
  display: none;
}
.menu .second-menu ul .third-menu ul{
  display: none;
}
.menu .second-menu:hover ul{
  display: block;
}
.menu .second-menu:hover ul li{
  float: none;
  margin: 3px 0 3px 0;
  background-color: #d5d5d5;
}
/*三级菜单*/
.menu .second-menu ul .third-menu:hover ul{
  display: block;
}
.menu .second-menu ul .third-menu:hover ul{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 120px;
  float: none;
}
.menu .second-menu ul .third-menu:hover ul li:first-child{
  margin-top: 0;
}
.menu .second-menu ul .third-menu:hover ul li{
  margin-left: 3px;
}
