<h1>Please Input Username and Password</h1>

<div class="col-md-5">
    <p>UserName</p>
    <input type="text" id="uname" class="input-lg" placeholder="username" />
    <input type="password" id="pwd" class="input-lg" placeholder="***" />
    <button class="btn-info" (click)="validateAndGo()">submmit</button>
    </div>

<!--<button (click)="incrementCounter()">Increment</button>-->
