﻿
﻿<head>

    <meta charset="utf8">

    <link href=" https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <style>
        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        table {
            background: #f5f5f5;
            border-collapse: separate;
            box-shadow: inset 0 1px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 30px auto;
            text-align: left;
            width: 800px;
        }

        th {
            background: linear-gradient(#379294, #257d8c);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            box-shadow: inset 0 1px 0 #999;
            color: #fff;
            font-weight: bold;
            padding: 10px 15px;
            position: relative;
            text-shadow: 0 1px 0 #000;
        }

            th:after {
                background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
                content: '';
                display: block;
                height: 25%;
                left: 0;
                margin: 1px 0 0 0;
                position: absolute;
                top: 25%;
                width: 100%;
            }

            th:first-child {
                border-left: 1px solid #777;
                box-shadow: inset 1px 1px 0 #999;
            }

            th:last-child {
                box-shadow: inset -1px 1px 0 #999;
            }

        td {
            border-right: 1px solid #fff;
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 15px;
            position: relative;
            transition: all 300ms;
        }

            td:first-child {
                box-shadow: inset 1px 0 0 #fff;
            }

            td:last-child {
                border-right: 1px solid #e8e8e8;
                box-shadow: inset -1px 0 0 #fff;
            }

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

        tbody:hover td {
            color: transparent;
            text-shadow: 0 0 3px #aaa;
        }

        tbody:hover tr:hover td {
            color: #444;
            text-shadow: 0 1px 0 #fff;
        }
    </style>
</head>
    <header>
        <h1>Make a reservation right now!</h1>
    </header>
    <div class="row" style="float: left;">
        <div class="divjob1">
            <h2 style="text-align : left">Choose your room and time below</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Move In Date:</h2>
                <input type="text" id="movein" placeholder="DD/MM/YYYY" />

            </div>
            <div class="col-sm-4">
                <h2>Move Out Date</h2>
                <input type="text" id="moveout" placeholder="DD/MM/YYYY" />
            </div>
            <div class="col-sm-4" style="float:right; margin-right: -80px;">
                <h2>How Many Beds</h2>
                <input type="text" id="bednums" placeholder="Beds You Need" />
                <button value="search" (click)=getSearchResult() id="btngo" class="btn-info" style="border:double; position: relative;">Search</button>
            </div>
        </div>
    </div>
    <div style="float:right; ">
        <table>
            <thead id="th">
                <tr>
                    <th>RoomNumber</th>
                    <th>Beds</th>
                    <th>Room Type</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody id="tblbody"></tbody>
            <tr *ngFor="let room of roomDetailListJson" id="{{room.roomNumber}}">

                <td>{{room.roomNumber}}</td>
                <td>{{room.capacity}}</td>
                <td>{{room.roomtype}}</td>
                <td>
                    <button id="{{room.roomNumber}}" (click)=bookRoom(room.roomNumber)>book</button>
                </td>
            </tr>
        </table>        
    </div>
