<div>
    <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_82,w_1571,h_883,r_0,c_crop,q_60,fl_progressive/w_960,f_auto,c_fit/vits-shalimar-hotel-ankleshwar/IMG_1451_Large_skvfnw"/>
    <h1>
        Welcome to our hotel
    </h1>
</div>